<p id="notice"><%= notice %></p>

<h1>Login</h1>
<p>Please login below.</p>

    <%= form_for(:session) do |f| %>

      <p><%= f.label :email %>
      <%= f.email_field :email %></p>

      <p><%= f.label :password %>
      <%= f.password_field :password %></p>

      <%= f.submit "Log in" %>
    <% end %>
